doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")

        title My Puggify

        script(src=require('./index.js') defer)

        link(href=require('./index.scss') rel="stylesheet")
    body
        main
            h1 Hello My World

    